/*Tous les documents se trouvent ici*/
body{
  font-family: 'Nunito', Arial, sans-serif;
  margin : 0;
  font-size : 16px;
  color : rgb(0, 0, 64);
  min-width: 520px;
}

/* NOTES
-----Pour figer un élèment-----
position: -webkit-sticky;
position : sticky;
top: 0;
*/

/* EN-TETE ACCUEIL---------------------------------------------------------------------------------*/
/*BARRE MENU---------------A METTRE SUR CHAQUE PAGE---------------------------------------------------------------*/
#barre {
	position: -webkit-sticky;
	position: sticky;
	top : 0;
	left : 0;
	right : 0;
	width : 100%;
	height : 80px;
	background-color: lightblue;
}
/*Le logo dans la barre*/
#barre #logo {
	position : absolute;
	height: 60px;
	width : 60px;
	left : 5px;
	top : 10px;
}
/*Nom du site*/
#barre #header {
	position : absolute;
	height: 20px;
	width : 50px;
	left : 80px;
	top : 27.5px;
	font-size : 20px;
	text-decoration: none;
	color : rgb(0,0,64);
}
/*Différents en-tête de menu*/
#barre .menu {
	position : static;
	top : 80px;
	width : 100px;
	background-color : rgb(0, 0, 64);
	color : white;
	/*Affichage au premier plan*/
	z-index : 10;
}


/*Menu déroulant dans la barre de tâche*/
#dropdown{
    position: absolute;
    float: left;
    margin-left: 150px;
    margin-top: 25px;
    display: inline-block;
}

/*Bouton principal du menu déroulant*/
#boutonmenuprincipal{
    position: absolute;
    margin-left: 50px;
    /*color: #666;*/
    background-color: white;
    color: rgb(0, 0, 64);
    border: none;
    cursor: pointer;
    padding:5px;
    top:120px 0px;
    font-size: 15px;
    font-family: 'Nunito', Arial, sans-serif;
    border-radius: 10px;
    width: 250px;
}

/*Quand on passe sur le bouton principal du menu déroulant*/
#boutonmenuprincipal:hover {
    background-color: rgb(0, 0, 64);
    color:white;
}

/*Sous-menu du menu déroulant*/
#dropdown-child {
    display: none;
    background-color: rgb(0, 0, 64, 0.8);
    min-width: 50px;
    position: absolute;
    z-index: 100;
}

/*Sous-menu du menu déroulant: liens*/
#dropdown-child a {
    color: white;
    font-family: 'Nunito', Arial, sans-serif;
    padding: 20px;
    text-decoration: none;
    display: block;
}

/*Affichage des sous-menu du menu déroulant*/
#dropdown:hover #dropdown-child {
    display: block;
    margin-left: 50px;
    border-radius: 10px;
    width: 250px;
    margin-top: 30px;
    position: absolute;
}
#dropdown-child a:hover {
	background-color: rgb(255,140,0);
	border-radius : 10px;
}

/*Barre de recherche*/
#box {
	color : rgb(0, 0, 64);
	position : absolute;
	top : 45px;
	left : 50%;
	width : 250px;
	height : 50px;
	transform : translate(-50%,-50%);
}
/*Input*/
#texte_recherche {
	position : relative;
	display : inline-block;
	font-size : 16px;
	box-sizing: border-box;
	transition : 0.3s;
}
#texte_recherche[type="search"]{
	width : 200px;
	height : 40px;
	border : none ;
	outline : none;
	padding : 0 25px;
	border-radius : 25px 0 0 25px;
}
/*Bouton loupe*/
#bouton_recherche {
	width : 50px;
	height: 40px;
	top : 50px;
	padding : 0;
	margin : 0;
	border-radius : 0 25px 25px 0;
	border : none;
	background-color: rgb(255,140,0);
	float : right;
}
/*Image loupe*/
#icone_recherche {
	width : 35px;
	height: 35px;
	transition : 0.3s;
}

/*Survole de la souris*/
#bouton_recherche:hover{
	background-color: rgb(255,69,0);
}

/*Bouton d'accès à la page profil*/
#profil {
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	text-decoration: none;
}

/*Lien d'accès à la page profil*/
#profil a, #deconnexion a {
	text-decoration: none;
	color: white;	
}
/*Bouton d'accès à la page deconnexion*/
#deconnexion {
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	color : white;
	text-decoration: none;
}
#deconnexion:hover {
	color : rgb(0,0,64);
}

/*--------------------------------------FIN---------------------------------------------------------*/


/* CADRE CENTRAL---------------------------------------------------------------------------------*/

/*Cadre central*/
#cadre_en_tete {
	background-color : white;
	height: auto;
	min-height: 100%;
	margin-top: 100px;
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 300px;
	height: 350px;
	padding : 10px;
	overflow: hidden;
	border-radius: 20px;
}
#cadre_en_tete #en_tete{
	margin : 20px;
	margin-left: auto;
	margin-right: auto;
	width : 450px;

}
#cadre_en_tete .header {
	position : absolute;
}

/*Cadre central: nom du site*/
#cadre_en_tete #nom_site{
	font-size: 60px;
	text-align: left;
	height : 100px;
	width : auto;
	padding-top : 100px;
	padding-left : 50px;
	line-height : 150px;
	color : rgb(0, 0, 64);
	text-decoration:none;
}

/*Cadre central: logo*/
#cadre_en_tete #logo {
	height: 150px;
	width : 150px;
	float : left;
}

/*Cadre central: description du site*/
#cadre_en_tete #description_site{
	text-align: center;
	font-style: italic;
}


/*LIEN VERS LA CARTE--------------------------------------------------------------------*/
#lien_carte {
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	height : 100px;
	line-height: 100px;
	background-color: rgb(255,69,0);
	text-align: center;
	text-decoration: none;
	border-radius: 45px;
	border : 1px solid rgb(255,140,0);
	transition: color 0.3s;
	font-size : 20px;
}

#lien_carte a {
	text-decoration: none;
}
#lien_carte:hover{
	font-weight: bold 
}
/* PIED DE PAGE ACCUEIL---------------------------------------------------------------------------------*/
#frise {
	position: -webkit-sticky;
	position: sticky;
	bottom : 0;
	left : 0;
	right : 0;
	width : 100%;
	height : 125px;
	background-image: url(images/sapin.png);